.app {
  min-height: 100dvh;
  padding-top: 88px;
}

.customCursor {
  cursor: url("/pointer.png"), auto;
}

.mainContainer {
  position: relative;
  z-index: 1;
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
  color: #ffffff;
  user-select: none;
}
