.to-top {
 width: 200px;
 height: 25px;
 background-color: azure;
 position: fixed;
 z-index: 10;
 bottom: 0;
 left: 50%;
 transform: translate(-50%, 0px);
 display: flex;
 align-items: center;
    flex-direction: row;
    justify-content: space-around;
 background-image: url('../../img/nav-bg.gif');
 border-radius: 10px 10px 0px 0px;
 box-shadow: 0 0 5px -2px #6a2130;
}

.to-top img {
 cursor: pointer;
 width: 24px;
}

.to-top img:active {
transform: scale(1.1);
}