.resume-link {
 text-decoration: none;
 padding: 2px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 width: fit-content;
}

.resume-link:hover {
 background-color: #c22948;
 color: #9e9e9e;
 border-radius: 5px;
}

.right-arrow {
 position: absolute;
 right: 5px;
 bottom: 92px;
}
.left-arrow {
 position: absolute;
 left: 5px;
 bottom: 92px;
}

.right-arrow:active,
.left-arrow:active {
transform: scale(1.1);
}

@media only screen and (max-width: 600px) {

}

.edu-links a{
margin: 0;
}

.edu-links {
 display: flex;
    flex-direction: column;
    align-items: center;
}